<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/add-products.css">
    <title>Add Product</title>
     <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <%- include('../includes/nav.ejs')%>
    <div class="main">
        <h1>Add Product</h1>
        <form action="<% if(editing) { %>/edit-product/<%=product.id%> <% } else { %>/add-product <% } %>" method="post">
            <div class="wrapper">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(editing) { %> <%=product.title%> <% } %>" required>
            </div>
            <div class="wrapper">
                <label for="url">Image URL</label>
                <input type="text" name="url" id="url" value="<% if(editing) { %> <%=product.imageUrl%> <% } %>" required>
            </div>
            <div class="wrapper">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" value="<% if(editing) { %> <%=product.price%> <% } %>" required>
            </div>
            <div class="wrapper">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="6"  required><% if(editing) { %> <%=product.description%> <% } %></textarea>
            </div>
            <input type="submit" value="<% if(editing) {%>Edit Product <% } else { %> Save Product<% } %>">
        </form>
    </div>
</body>
</html>