<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/product-list.css" />
    <title>Products</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <div class="grid">
      <% for(const product of products) { %>
        <div class="col">
            <img class="product-img" src="<%= product.imageUrl%>" />
            <div class="lower-card">
            <h3><%=product.title%></h3>
            <p class="description"><%= product.description.substring(0,97) %>...</p>
            <div class="btn-holder">
                <span>$<%=product.price%></span>
                <div class="actions">
                  <button class="edit"><a href="#">Edit</a></button>
                  <button class="delete"><a href="#">Delete</a></button>
                </div>
            </div>
            </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
