<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/product-list.css" />
    <link rel="stylesheet" href="/css/product-details.css" />
    <title>Shop</title>
  </head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <article>
      <img src="<%= product.imageUrl %>" />
      <div class="content">
        <h1><%= product.title %></h1>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <form action="/products/<%= product.id %>" method="post">
            <button type="submit">Add To Cart</button>
        </form>
      </div>
    </article>
  </body>
</html>
